/*
*
* Loading Build Protocol.....
* ...........................................................................................
* 100%
* Completed.
*
*/


/*
*
* Running.....
*
* Attach Successful

██╗███╗   ██╗████████╗██████╗  ██████╗     ██████╗ ██████╗  ██████╗      ██╗███████╗ ██████╗████████╗
██║████╗  ██║╚══██╔══╝██╔══██╗██╔═══██╗    ██╔══██╗██╔══██╗██╔═══██╗     ██║██╔════╝██╔════╝╚══██╔══╝
██║██╔██╗ ██║   ██║   ██████╔╝██║   ██║    ██████╔╝██████╔╝██║   ██║     ██║█████╗  ██║        ██║
██║██║╚██╗██║   ██║   ██╔══██╗██║   ██║    ██╔═══╝ ██╔══██╗██║   ██║██   ██║██╔══╝  ██║        ██║
██║██║ ╚████║   ██║   ██║  ██║╚██████╔╝    ██║     ██║  ██║╚██████╔╝╚█████╔╝███████╗╚██████╗   ██║
╚═╝╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝     ╚═╝     ╚═╝  ╚═╝ ╚═════╝  ╚════╝ ╚══════╝ ╚═════╝   ╚═╝

*/


* { -webkit-transition: all 1s; }


html {
    background: rgb(63, 82, 99);
    /*background: #dddddd;*/
}


pre, a {
    color: white;
}

/*
 * Complete Cementing.....
 *
 *
 * Start [ Intro Project ]
 *
 */


pre:not(:empty) {
    overflow: auto;
    background: rgb(48, 48, 48);
    border: 1px solid #ccc;
    max-height: 44.6%;
    width: 40%;
    font-size: 16px;
    font-family: monospace;
    padding: 10px 10px 20px;
    box-shadow: -4px 4px 2px 0 rgba(0, 0, 0, 0.3);
    white-space: pre-wrap;
    outline: 0;
}

#style-text {
    -webkit-transform: translate(135%,0);
    position: absolute;
}

/*
 * Apply text Style
 *
 */

.comment {
    color: #ffffff;
    font-style: italic;
}
.selector { color: #E69F0F; }
.selector .key { color: #64D5EA; }
.key { color: #64D5EA; }
.value { color: #BE84F2; }
.value.px { color: #F92772; }

body { -webkit-perspective: 1000px; }

#style-text {
    -webkit-transform: translate(135%,0) rotateY(-5deg);
    -webkit-transform-origin: right;
    max-height: 94.5%;
}


pre:not(#style-text) {
    -webkit-transform: rotateY(10deg);
    -webkit-transform-origin: left;
}

div#path-android { left: 0; }

div#path-android {
    width: 25%;
    height: 33.3%;
}

div#path-java { top: 0; }

div#path-es6 { left: 0; }

div#path-es6 {
    width: 25%;
    left: 25%;
}

div#path-node { left: 0; }

div#path-python { left: 0; }

div#path-python { width: 25%; }

div#path-kotlin {  top: 66.6%; }

div.lang { transform: translate(-200%, 0); }

div#path-infra { left: 0; }

div#path-aws { left: 0; }

div#path-docker { left: 0; }

div.position-infra { transform: translate(-100%, 0); }

div#path-logstash { left: 0; }

div#path-rapidminer { left: 0; }

div#path-rpa { left: 0; }

div#path-reactivex { left: 0; }


div.position-sw { transform: translate(-100%, 0); }


#style-text {
    -webkit-transform: translate(10%,0) rotateY(5deg);
    -webkit-transform-origin: left;
}

div.career { transform: translate(-100%, 0); }

