/*
*
* -- 강영원의 Github.io 에 오신것을 환영합니다. --
*
*/


/*
*
* Running.....
*
* [ 접속 확인 ]
*/


* { -webkit-transition: all 1s; }


html {
    background: rgb(63, 82, 99);
}



pre, a {
    color: white;
}

/*
 * 라이브 웹 스타일링 시작....
 */


pre:not(:empty) {
    overflow: auto;
    background: rgb(48, 48, 48);
    border: 1px solid #ccc;
    max-height: 44.6%;
    width: 40%;
    font-size: 14px;
    font-family: monospace;
    padding: 10px 10px 20px;
    box-shadow: -4px 4px 2px 0 rgba(0, 0, 0, 0.3);
    white-space: pre-wrap;
    outline: 0;
}

#style-text {
    -webkit-transform: translate(135%,0);
    position: absolute;
}

/*
 * 텍스트 스타일 조정 시작
 *
 */

.comment {
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
}
.selector { color: #E69F0F; }
.selector .key { color: #64D5EA; }
.key { color: #64D5EA; }
.value { color: #BE84F2; }
.value.px { color: #F92772; }


/*
 * 텍스트 스타일 적용 완료.
 *
 *
 * 분리 작업 시작
 *
 */


#style-text {
    -webkit-transform: translate(135%,0) rotateY(-5deg);
    -webkit-transform-origin: right;
    max-height: 94.5%;
}


pre:not(#style-text) {
    -webkit-transform: rotateY(10deg);
    -webkit-transform-origin: left;
}



/*
 *
 * 반갑습니다.
 *
 * 레인보우 와이어리스의 선임연구원, 강영원입니다.
 *
 * 제 소개를 하도록 하겠습니다.
 *
 * 2018년, 전 22 세 입니다.
 *
 * 경력은 이제 3년이 다 되 갑니다.
 *
 */
div#path-android {
    left: 0;
    width: 25%;
    height: 33.3%;
}

div#path-java { top: 0; }

/*
*
* 저는 15살부터 프로그래밍을 하기 시작했습니다.
*
* 첫 개인 프로젝트는 Android 앱 개발,
*
* 첫 직장도 모바일 프로그래머로 시작햇습니다.
*
* 처음으로 만든 건 BLE 통신을 위한 Android API 였습니다.
*
* 요즘에는 업무가 많이 넓어져서 비중이 줄어들었지만
*
* 개인적으로 Android 오픈소스 프로젝트를 하고 있습니다.
*
*/


div#path-es6 { left: 0; }

/*
* 개발범위가 넓어지면서 모바일 개발 뿐만이 아니라 웹 개발을 하기 시작했습니다
*
* 서강대 EzyAI 프로젝트에서 SPA 개발을 했습니다.
*
*/


div#path-es6 {
    width: 25%;
    left: 25%;
}


div#path-node { left: 0; }


/*
* EzyAI 개발을 하면서 프론트 개발에서 백엔드 개발로 넘어갔습니다
*
* Node.js 를 하면서, 문법적 편안함에 빠져 한동안 Java 를 멀리하게 되었습니다.
*
* 백엔드 개발을 하면서 인프라나 WAS 에 관심이 생겼고
*
* 서버와 인프라 관리에 더 힘을 쏟는 계기가 되었습니다.
*
*/


div#path-python { left: 0; }

/*
* 취미로 파이선 코딩을 자주 합니다.
*
* 회사 업무가 RPA 로 넓어 지면서 OCR 과 이미지 연산 코딩을 하기 시작했죠
*
* RPA API 를 만드는데 자주 사용해서 배운 보람이 많습니다.
*
*/

div#path-python { width: 25%; }


div#path-kotlin {  top: 66.6%; }


/*
* Java 와 같이 모바일 개발을 하기 위해 kotlin 개발을 시작했습니다
*
* 아직까지는 개인 개발 프로젝트에서 만 사용중이지만, 사내에 정착하기 위해 노력중입니다.
*
* 문법에 익숙해지면, Swift 를 할 생각입니다.
*
*/

div.lang { transform: translate(-200%, 0); }


/*
* 코딩만으로 먹고살수 있다면 좋을텐데..
*
* 코딩만으로 월급 받기(?)는 힘듭니다.
*
 */

div#path-infra { left: 0; }


/*
* 저는 연구소의 인프라 관리를 맡고 있습니다.
*
* NAS 부터 Docker, Hyper-V 등의 VM 장비와 AWS 등
*
* 사내의 모든 네트워크 장비를 관리합니다
*
 */


div#path-aws { left: 0; }

/*
* 인프라 관리를 하면서 덤으로 시작한 AWS.
*
* 쉽고 관리가 편해서 사내 프로젝트에 자주 사용중입니다.
*
 */


div#path-docker { left: 0; }


/*
* Docker 는 Jenkins 같은 CI 와 Gradle 빌더 공부를 하려고 시작했지만.
*
* 어쩐지 배보다 배꼽이 더 커져서 Docker 에 더 관심이 생겼습니다.
*
* 간단한 Docker 가이드를 기술 블로그에 올리기도 했습니다.
*
*/


div.position-infra { transform: translate(-100%, 0); }


div#path-logstash { left: 0; }

/*
* LogStash 는 로그분석을 위해 도입한 ELK 스택 중 하나입니다.
*
* 다른 ELK 스택인 Elastic Search, Kibana 도 좋지만,
*
* 텍스트, 로그 자료를 I/O 하기 좋은 LogStash 가 제일 맘에 듭니다.
*
*/

div#path-rapidminer { left: 0; }

/*
* 연구소장님이 워낙 AI 스택이 많으셔서 권유로 시작한 머신러닝 툴입니다.
*
* RapidMiner 는 LogStash 처럼 Clensing 된 데이터를 분석하는 아주 좋은 툴이지요,
*
* 간단한 선형 회귀나 KNN, 뉴럴 네트워킹 분석은 기본 기능으로 가진 멋진 툴입니다.
*
*/


div#path-rpa { left: 0; }

/*
* RPA 는 PC 의 컨트롤을 자동화하는 기술을 말합니다.
*
* 회사에서 밀고 있는 주력 사업이고,  개인적으로 관련 오픈소스를 Python 으로 만들어 공개했습니다.
*
* 꽤나 작업이 어렵고, 변수가 많은 프로세스를 가진 프로젝트들이 많아서 고생 중입니다.
*
*/


div#path-reactivex { left: 0; }

/*
* Reactive Extension (ReactiveX) 는 제 첫 프로젝트 때 부터 아직도 사용 중인 오픈소스입니다.
*
* 비동기 스트림을 핸들링하고 함수형 프로그래밍을 하기에 최고인 라이브러리입니다.
*
* 제 오픈소스 대부분을 차지한 기술입니다.
*
*/

div.position-sw { transform: translate(-100%, 0); }

/*
* 짧은 소개라 아쉽기는 하지만,
*
* 개발자들이 다 그렇죠, "프로는 말보다는 행동 " 로버트 마틴 아저씨도 그랬습니다.
*
* 저의 기술적인 모습을 더 보고 싶으시다면, 저의 GitHub 와 Medium 블로그에 찾아와 주세요.
*
*/



#style-text {
    -webkit-transform: translate(10%,0) rotateY(5deg);
    -webkit-transform-origin: left;
}

div.career { transform: translate(-100%, 0); }

/*
* GitHub 와 Medium 블로그 말고도 FaceBook 링크도 하단에 있으니 방문해주세요.
*
* 그리고 이 웹페이지의 기반인 STRML.net 을 개발한 Samuel Reed 에게 큰 감사를 표하고 싶습니다.
*
* 이 프로젝트를 알려주고 군대로 떠나는 제 친구 상훈이에게 큰 고마움을 보냅니다.
*
* 이 프로젝트의 소스는 오픈이며 STRML.net 의 MIT 라이선스에 따라 동일 MIT 라이선스를 적용중입니다.
*
* 감사합니다
*
*/
