/*
*
* -- 동적 라이브 웹 로더 --
*
* 준비중.......
* ...........................................................................................
* 100%
* Completed.
*
*/


/*
*
* Running.....
*
* Attach Successful
*
* [ 접속 확인 ]
*/


* { -webkit-transition: all 1s; }


html {
    background: rgb(63, 82, 99);
}

body { -webkit-perspective: 1000px; }


pre, a {
    color: white;
}

/*
 * 시멘팅 적용 완료.
 *
 *
 * 라이브 웹 스타일링 시작....
 *
 */


pre:not(:empty) {
    overflow: auto;
    background: rgb(48, 48, 48);
    border: 1px solid #ccc;
    max-height: 44.6%;
    width: 40%;
    font-size: 14px;
    font-family: monospace;
    padding: 10px 10px 20px;
    box-shadow: -4px 4px 2px 0 rgba(0, 0, 0, 0.3);
    white-space: pre-wrap;
    outline: 0;
}

#style-text {
    -webkit-transform: translate(135%,0);
    position: absolute;
}

/*
 * 텍스트 스타일 조정중....
 *
 */

.comment {
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
}
.selector { color: #E69F0F; }
.selector .key { color: #64D5EA; }
.key { color: #64D5EA; }
.value { color: #BE84F2; }
.value.px { color: #F92772; }


/*
 * 텍스트 스타일 적용 완료.
 *
 *
 * 동적 분리 작업 중....
 *
 */


#style-text {
    -webkit-transform: translate(135%,0) rotateY(-5deg);
    -webkit-transform-origin: right;
    max-height: 94.5%;
}


pre:not(#style-text) {
    -webkit-transform: rotateY(10deg);
    -webkit-transform-origin: left;
}



/*
 *
 * 반갑습니다.
 *
 * 레인보우 와이어리스의 연구원, 강영원입니다.
 *
 */

div#path-android { left: 0; }


/*
* 저는 15살부터 프로그래밍을 하기 시작했습니다.
*
* 첫 코딩을 Android 앱 개발로 시작했고,
*
* 지금도 Android 오픈소스 프로젝트를 하고 있습니다.
*
*/


div#path-android {
    width: 25%;
    height: 33.3%;
}


/*
* 코딩에 적응하면서 안드로이드 프레임워크에서 벗어나,
*
* 자바를 시작했습니다.
*
 */

div#path-java { top: 0; }


/*
* 19세, 고등학교 3학년에 현 직장인 레인보우 와이어리스에 취직해,
*
* 연구원으로써 여러 프로젝트에 몸을 담았습니다.
*
* BLE 통신을 위한 Android API 를 만들고, 모바일 앱 개발을 맡아 장기 프로젝트를 진행했습니다.
*
*/


div#path-es6 { left: 0; }

/*
* 프로젝트가 끝나고, 웹 개발을 해야 할 일이 생겼습니다.
*
* JS 는 학창 시절에도 하던 언어였지만, 선호하는 언어는 아니었습니다,
*
* SPA 프론트엔드 개발을 맡아 SI 프로젝트를 진행했습니다.
*
*/


div#path-es6 {
    width: 25%;
    left: 25%;
}


/*
* IT 업계에서는 사람을 만나고 헤어지는 일이 잦습니다.
*
* 사람이 없어 백엔드 개발을 하게 되었습니다.
*
*/

div#path-node { left: 0; }


/*
* Node.js 를 하면서, 문법적 편안함에 빠져 한동안 Java 를 멀리하게 되었습니다.
*
* 백엔드 개발을 하면서, 풀 스택 기반을 다졌고,
*
* 서버와 인프라 관리에 더 큰 지식을 얻을 수 있었습니다.
*
*/


div#path-python { left: 0; }

/*
* 취미로 파이선 코딩을 자주 합니다.
*
* 자바 코딩이 줄어드는 거 같아서 그만큼을 메우기 위해 시작했고,
*
* 최근에는 RPA 업무가 늘어, 관련 API 를 만드는데 자주 사용해서 배운 보람이 많습니다.
*
*/

div#path-python { width: 25%; }


/*
*
* 자바가 워낙 잘 만들어진 언어라, 다른 세대의 언어를 배우는데 편견이 생길까 싶어,
*
* 모바일 개발을 하기 위한 언어를 사용 중입니다.
*
*/


div#path-kotlin {  top: 66.6%; }


/*
* 원래는 IOS 개발을 위해 Swift 를 먼저 공부할 요령이었지만,
*
* 자바와 동적인 연계가 가능한 Kotlin 을 먼저 사용 중입니다.
*
* 문법에 익숙해지면, Swift 를 할 생각입니다
*
*/

div.lang { transform: translate(-200%, 0); }


/*
* 개발을 주력으로 삼고 있지만,
*
* 사람이 적은 연구소에서는 개발만으로 월급 받기(?)는 힘듭니다
*
 */

div#path-infra { left: 0; }


/*
* 저는 연구소의 인프라 관리를 맡고 있습니다.
*
* VM 장비, 프로젝트 서버, 사내 AP 와 IP 관리를 하는, 재미있는 일입니다.
*
* 컨테이너와 인프라 관련 스택에 큰 관심이 생겼습니다
*
 */


div#path-aws { left: 0; }

/*
* 인프라 관리를 하면서 덤으로 시작한 AWS.
*
* 쉽고 관리가 편해서 사내 프로젝트 관리에 자주 사용하지만,
*
* AWS 를 모르거나 꺼리는 업체들이 많아서, 아쉽습니다.
*
 */


div#path-docker { left: 0; }


/*
* Docker 는 Jenkins 같은 CI 와 Gradle 빌더 공부를 하려고 시작했지만.
*
* 어쩐지 배보다 배꼽이 더 커져서 Docker 에 더 관심이 생겨,
*
* 간단한 Docker 가이드를 기술 블로그에 올리기도 했습니다.
*
*/


div.position-infra { transform: translate(-100%, 0); }

/*
* 백그라운드 업무는 단순히 서버 개발이 아닌, 자원관리도 같이 합니다
*
*/


div#path-logstash { left: 0; }

/*
* LogStash 는 로그분석을 위해 도입한 ELK 스택 중 하나입니다.
*
* 다른 ELK 스택인 Elastic Search, Kibana 도 좋지만,
*
* 텍스트, 로그 자료를 I/O 하기 좋은 LogStash 가 제일 맘에 듭니다
*
*/

div#path-rapidminer { left: 0; }

/*
* 연구소장님이 워낙 AI 스택이 많으셔서 권유로 시작한 머신러닝 툴입니다
*
* RapidMiner 는 LogStash 처럼 Clensing 된 데이터를 분석하는 아주 좋은 툴이지요,
*
* 간단한 선형 회귀나 KNN, 뉴럴 네트워킹 분석은 기본 기능으로 가진 멋진 툴입니다
*
* 제가 관리하는 서버증에서 가장 무거운 인스턴스를 가진 녀석이죠.
*
*/


div#path-rpa { left: 0; }

/*
* RPA 는 PC 의 컨트롤을 자동화하는 기술을 말합니다.
*
* 회사에서 밀고 있는 주력 사업이고,  개인적으로 관련 오픈소스를 Python 으로 만들어 공개했습니다.
*
* 꽤나 작업이 어렵고, 변수가 많은 프로세스를 가진 프로젝트들이 많아서 고생 중입니다.
*
*/


div#path-reactivex { left: 0; }

/*
* Reactive Extension (ReactiveX) 는 제 첫 프로젝트 때 부터 아직도 사용 중인 오픈소스입니다.
*
* 비동기 스트림을 핸들링하고 함수형 프로그래밍을 하기에 최고인 라이브러리입니다.
*
* 제 오픈소스 대부분을 차지한 기술입니다.
*
*/

div.position-sw { transform: translate(-100%, 0); }

/*
* 짧은 소개라 아쉽기는 하지만
*
* 개발자들이 다 그렇죠, "프로는 말보다는 행동 " 로버트 마틴 아저씨도 그랬습니다.
*
* 저의 기술적인 모습을 더 보고 싶으시다면, 저의 GitHub 와 Medium 블로그에 찾아와 주세요
*
*/



#style-text {
    -webkit-transform: translate(10%,0) rotateY(5deg);
    -webkit-transform-origin: left;
}

div.career { transform: translate(-100%, 0); }

/*
* GitHub 와 Medium 블로그 말고도 FaceBook 링크도 하단에 있으니 방문해주세요.
*
* 그리고 이 웹페이지의 기반인 STRML.net 을 개발한 Samuel Reed 에게 큰 감사를 표하고 싶습니다.
*
* 이 프로젝트를 알려주고 군대로 떠나는 제 친구 상훈이에게 큰 고마움을 보냅니다.
*
* 이 프로젝트의 소스는 오픈이며 STRML.net 의 MIT 라이선스에 따라 동일 MIT 라이선스를 적용중입니다.
*
* Good Bye, World!
*
*/
